extends site-regular
block page
  .grid-container
    .breadcrumbs
      a.breadcrumbs__item Главная
      span.breadcrumbs__item.breadcrumbs__item_active Вопросы и ответы

    .article
      .article__header
        h1.article__title Отзывы
        .article__img
          img.article__photo(src="i/article/reviews.png")
      .grid-x.grid-padding-y
        .cell.medium-16.large-16
          p Давайте спросим у детей, что они думают о лагере.
    br
    br
    .card
      .card__col
        .card__item
          .card__img
            img(src="i/reviews/reviews-1.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Даша Свищева
            .card__age
              | 13 лет
          .card__content Комок стал чем-то большим чем просто лагерь, он стал одной большой семьей. С каждой сменой наша семья пополняется. Нас становится больше и больше и мы с любовью и радостью принимаем новых. Обожаю нашу семью.

        .card__item
          .card__img
            img(src="i/reviews/reviews-4.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Миша Барвинко
            .card__age
              | 14 лет
          .card__content
            | За короткую смену (7 дней) я прожил маленькую, но полноценную жизнь.
        .card__item
          .card__img
            img(src="i/reviews/reviews-7.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Максим Серов
            .card__age
              | 16 лет
          .card__content
            | Почувствовал нереальный кайф от пребывания в этом лагере. Все было сделано на высшем уровне — от распорядка дня, до мероприятий.

      .card__col
        .card__item
          .card__img
            img(src="i/reviews/reviews-2.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Миша Петров
            .card__age
              | 15 лет
          .card__content Лагерь Комок — возможность. Возможность самосовершенствоваться в вопросах безусловно нужных. Так же это активности и задания которые интересно выполнять. Отправлюсь ли я туда снова? Думаю да, поскольку изучение чего-то нового для меня лично является смыслом жизни. Конечно же я посоветую его друзьям, тут даже думать не надо. Дальнейшего продвижения, ребят, вы большие молодцы!

        .card__item
          .card__img
            img(src="i/reviews/reviews-5.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Настя Хулап
            .card__age
              | 15 лет
          .card__content Для меня Комок — это лучшее что произошло со мной этим летом. Это драйв, адреналин, веселье, радость, новые эмоции, друзья, любовь, кайф. Этот лагерь открывает в людях новые возможности и таланты. Этот лагерь никогда не сравниться ни с каким другим. Все методисты и вожатые, самые лучшие, таких как они вы никогда не найдете. Постоянные задания, соревнования, вечерки, дневное, тематические дни, почта, свечки. Я всем советую туда съездить. Никто не пожелеет. Я обещаю. Каждый день мастер классы и развлечение. И многое другое. Для меня Комок остался в сердце на всегда, да и не только комок все те кто там был и учил нас. Это моя вторая семья. Очень люблю всех вас и лагерь Комок конечно же тоже. Всем советую. Приезжайте в Комок вас будут рады видеть.
        .card__item
          .card__img
            img(src="i/reviews/reviews-8.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Настя Колганова
            .card__age
              | 14 лет
          .card__content Лагерь Комок — это самый лучший лагерь )) Эти две недели были незабываемые )) Столько много положительных эмоций, моментов )) Самые зачетные, крутые, позитивные,  добрые вожатые и методисты )) Я обязательно вернусь обратно ))
      .card__col
        .card__item
          .card__img
            img(src="i/reviews/reviews-3.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Соня Раца
            .card__age
              | 14 лет
          .card__content Этот лагерь делает мою жизнь разнообразной и весёлой. В нем я познакомилась с классными ребятами, с котороми общаюсь и после смены. Только в этом лагере я встретила самых лучший вожатых, которые стали мне настоящими друзьями. Я обязательно поеду туда и в третий раз.
        .card__item
          .card__img
            img(src="i/reviews/reviews-6.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Маша Ощепкова
            .card__age
              | 14 лет
          .card__content Комок — это безудержное веселье, яркие эмоции и прекрасные воспоминания! Я впервые так полюбила людей, с которыми была в одном лагере. И теперь, когда я рассказываю друзьям о комке, все интересуются «где находится? со скольки и до скольки берут? можно я в следующий раз с тобой поеду?». Вожатые и методисты просто супер! Уже появились совместные шуточки с каждым человеком оттуда. По-моему это не просто лагерь, это что-то несомненно большее.
        .card__item
          .card__img
            img(src="i/reviews/reviews-9.png").card__photo
            img(src="i/reviews/circle.svg").card__circle
          .card__header
            .card__name
              | Катя Фомина
            .card__age
              | 14 лет
          .card__content Комок — это просто потрясающий лагерь. Здесь очень добрые и весёлые вожатые (особенно Даша Пиксасова), здесь ты не только общаешься со своим отрядом, но и со всем лагерем(а это просто огромный плюс). Здесь очень насыщенные дни, тёплые вечера, подвижные игры. Нет места для лени. Так же ещё один плюс этого лагеря в том, что здесь ты не только развлекаешься, но и получаешь новые знания на тренингах. И да, вы наверное подумали, что тренинги это ужасно скучно и не интерсно, как в школе. Но это не так, все тренинги очень интересные и полезные, на тренингах мы не только сидим и слушаем, но так же бегаем, играем, учавствуем в сценках. Также в этом лагере просто прекрасный и дружный коллектив. Ребята вы лучшие, спаибо вам за эту прекрасную смену: Даша Пиксасова, Саша Тагиева, Пушка, Настя Ляпич, Настя Туляева, Рост, Евгения Валерьевна и Рома Сафонов. Ваш 3 отряд, 2 смена 2019.
    .card__button
      a.button Ещё отзывы
    section.section
      .grid-container
        .section__background.section__background_review
          img(src="images/review/review-circle-1.png").section__img.section__img_1
          img(src="images/review/review-circle-2.png").section__img.section__img_2
          img(src="images/review/review-frame-1.png").section__img.section__img_3
          img(src="images/review/review-frame-2.png").section__img.section__img_4
          .grid-x
            .cell
              .section__content.section__content_center
                .section__head
                  span.section__violet.section__violet_2 Забронируйте путевку&nbsp;
                  | в лагерь
          form
            .grid-x.justify-content-center
              .cell.large-10
                .grid-x.grid-margin-x.grid-padding-y
                  .cell
                    .custom-input
                      input(type="text" placeholder=" ")
                      label Имя и фамилия
                  .cell
                    .custom-input
                      input(placeholder=" " type="tel" name="phone")#phone
                      label Номер телефона
                  .cell
                    .custom-input
                      input(placeholder=" " type="mail")
                      label Электронная почта
                  .cell.text-align-center
                    a(href="#" type="submit").button.z-index-1 Забронировать место
