doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include ../blocks/foundation/pagination/_pagination

    .grid-container
      include components/common/_header


    block page
    include components/common/_footer
