extends site-regular
block page
  .grid-container
    .breadcrumbs
      a.breadcrumbs__item Главная
      span.breadcrumbs__item.breadcrumbs__item_active Команда

    .article
      .article__header
        h1.article__title Команда
        .article__img
          img.article__photo(src="i/article/team.png")
      .grid-x.grid-padding-y
        .cell.large-13
          .article__subtitle
            | Вашим ребенком будут заниматься наши <br>
            span.article__underline молодые талантливые вожатые
    br
    br
    .card.card_slider
      #counselors.card__slider
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-1.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Даша Свищева
            .card__prof
              | Методист
          .card__content Бакалавр в области международных отношений, переводчик, преподаватель английского, французского и арабского языков, в настоящее время получает третье педагогическое образование. Увлекается лингвистикой, хореографией, научно- популярной литературой, обожает детей.

        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-2.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Полина Салита
            .card__prof
              | Вожатая
          .card__content
            | Студентка Института филологии МПГУ, будущий учитель русского языка и литературы. 9 лет занималась плаванием. Каждое лето проводила в детском лагере. С тех пор ничего не изменилось, только теперь в лагере в качестве вожатого и преподавателя русского языка, как иностранного.
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-3.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Антон Носов
            .card__prof
              | Методист
          .card__content
            | Дипломированный социолог, специализация по организации работы с молодежью. Футболист в душе и спортивный журналист. Опыт работы вожатым – 10 лет.
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-1.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Даша Свищева
            .card__prof
              | Методист
          .card__content Бакалавр в области международных отношений, переводчик, преподаватель английского, французского и арабского языков, в настоящее время получает третье педагогическое образование. Увлекается лингвистикой, хореографией, научно- популярной литературой, обожает детей.

        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-2.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Полина Салита
            .card__prof
              | Вожатая
          .card__content
            | Студентка Института филологии МПГУ, будущий учитель русского языка и литературы. 9 лет занималась плаванием. Каждое лето проводила в детском лагере. С тех пор ничего не изменилось, только теперь в лагере в качестве вожатого и преподавателя русского языка, как иностранного.
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-3.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Антон Носов
            .card__prof
              | Методист
          .card__content
            | Дипломированный социолог, специализация по организации работы с молодежью. Футболист в душе и спортивный журналист. Опыт работы вожатым – 10 лет.
    .card.card_slider.card_violet
      .card__mainheader
        .card__title Мастер-классы будут проводить <br>
          span.card__underline профессионалы своего дела
      #workers.card__slider
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-4.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Юлия Булдыкова
            .card__prof
              | Маркетинг и реклама
          .card__content Бренд-менеджер JACOBS MONARCH, Mondelez International Group (Kraft Foods RUS)

        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-5.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Григорий Иванец
            .card__prof
              | Актерское мастерство и кинорежиссура
          .card__content
            | Режиссер кинокомпании «Titan Cinema Production» (TCP)
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-6.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Артем Тихонов
            .card__prof
              | Авторский курс по целеполаганию
          .card__content
            | Опытный психолог с 15-ти летним педагогическим стажем работы, разработчик ряда авторских программ и методик в сфере эффективного развития личности, автор книги «Путь лидера»
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-4.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Юлия Булдыкова
            .card__prof
              | Маркетинг и реклама
          .card__content Бренд-менеджер JACOBS MONARCH, Mondelez International Group (Kraft Foods RUS)

        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-5.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Григорий Иванец
            .card__prof
              | Актерское мастерство и кинорежиссура
          .card__content
            | Режиссер кинокомпании «Titan Cinema Production» (TCP)
        .card__item.card__item_slider
          .card__img
            img(src="i/team/team-6.png").card__photo
            img(src="i/reviews/circle.png").card__circle
          .card__header
            .card__name.card__name_slider
              | Артем Тихонов
            .card__prof
              | Авторский курс по целеполаганию
          .card__content
            | Опытный психолог с 15-ти летним педагогическим стажем работы, разработчик ряда авторских программ и методик в сфере эффективного развития личности, автор книги «Путь лидера»
    .card.card_large
      .card__mainheader
        .card__title
          span.card__underline.card__underline_violet Организаторы
          |&ensp;лагеря
        .card__content «Видеть цель, верить в себя и не замечать препятствий!»
      .card__wrapper
        .card__item.card__item_large
          .card__img
            img(src="i/team/team-10.png").card__photo
            img(src="i/team/circle.png").card__circle.card__circle_large
          .card__header
            .card__name.card__name_large
              | Евгения Корнилова
            .card__prof
              | Директор лагеря
          .card__content Стаж работы в области молодежной политики — 17 лет. Награждена Министерством образования РФ за большой вклад в воспитание молодежи. Автор лагеря учебы творческого актива под Калугой, который в 2014 году отпраздновал свое 20-летие. Последние несколько лет посвятила бизнесу.
        .card__item.card__item_large
          .card__img
            img(src="i/team/team-7.png").card__photo
            img(src="i/team/circle.png").card__circle.card__circle_large
          .card__header
            .card__name.card__name_large
              | Александр Новиков
            .card__prof
              | Бизнес-эксперт
          .card__content
            | Операционный директор в TalkBank, активный участник бизнес сообщества, эксперт, бизнес-тренер, постоянный участник тематических конференций. Начинал свою деятельность в комитете по делам молодежи городской управы, где получил несколько государственных грантов на развитие программ для молодежи. Является автором ряда тренингов по целеполаганию, коммуникативным навыкам и самопрезентации.
        .card__item.card__item_large
          .card__img
            img(src="i/team/team-8.png").card__photo
            img(src="i/team/circle.png").card__circle.card__circle_large
          .card__header
            .card__name.card__name_large
              | Анастасия Ляпичева
            .card__prof
              | Куратор тематических программ
          .card__content
            | Филолог, лингвист, путешественник. Преподавала в школе и университете, опыт работы в профильных лагерях 15 лет. Замечательный, креативный, умный, веселый и жизнерадостный человек.
        .card__item.card__item_large
          .card__img
            img(src="i/team/team-9.png").card__photo
            img(src="i/team/circle.png").card__circle.card__circle_large
          .card__header
            .card__name.card__name_large
              | Ольга Суркова
            .card__prof
              | Маркетолог проекта
          .card__content
            | В свои 27 лет попробовала себя в области энергетики, телекоммуникаций, маркетинга и шоу- бизнеса. И всегда добивалась наивысших результатов. Находясь в постоянном поиске пришла к мысли, что уже может многим поделиться с другими. Ответственная, целеустремленная и всесторонне развита в творчестве. Является маркетологом и двигателем проекта.

