.board{
    margin:rem-calc(80) 0;
    &__wrapper{
        background: url("/i/board-1.svg ");
        position: relative;

        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        padding: rem-calc(150) 0;
        display: flex;
        justify-content: center;


        &_second{
            background-image: url("/i/board-2.svg");
        }
    }
    &__content{
        font-weight: 800;
        font-size: rem-calc(45);
        line-height: 51px;

        color: #FFFFFF;
        width: 70%;

        &_center{
            text-align: center;
            width: 80%;
        }
    }
    &__img{
        bottom: 22%;
        right: 0;
        position: absolute;
    }

    @include breakpoint(small only){
        &{
            margin: 2rem 0;
        }
        &__wrapper{
            padding: 4.375rem 0;
        }
        &__img{
            bottom:0;
        }
        &__content{
            font-size: 1.4rem;
        }
    }
}
