.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: rem-calc(66) 0;
    @include breakpoint(large down){
        padding: 1.125rem 0;
        justify-content: space-evenly;
    }
    @include breakpoint(medium down){
        justify-content: space-evenly;
    }
    flex-direction: row;
    @include breakpoint(small only){
        &__logo{
            width: 50%;
        }
        flex-direction: row;
        justify-content: space-around;
    }
}
