.work-time{
    font-size: rem-calc(18);
    line-height: rem-calc(25);
    color: #000000;

    display: flex;
    justify-content: space-around;
    &__link{
        font-weight: bold;
        font-size: rem-calc(25);
        line-height: rem-calc(34);
        color: #000000;
    }
    .nav &{
        display: none;
    }
    @include breakpoint(xxlarge down){
        font-size: rem-calc(14);

        &__link{
            font-size: rem-calc(16);
        }
    }
    @include breakpoint(small only){
        display: none;
        width: 100%;
        margin-top: 1rem;

        .show &{
            display: block;
        }
    }

}
