.card{
    border:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    &_large, &_slider{
        color:#000;
        display: block;
    }
    &_large{
        margin-top: rem-calc(80);
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    &__mainheader{
        margin: 2rem;
        padding-right: 0.4rem;
        margin-bottom: rem-calc(50);
        padding-bottom: 0;

    }
    &__title{
        margin-bottom: rem-calc(25);
        font-weight: 800;
        font-size: rem-calc(45);
        line-height: rem-calc(51);
    }
    &__slider{
        border:none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    &__back-image{
        position: absolute;
        &_1{
            right: 0;
            bottom: rem-calc(40);
        }
        &_2{
            left:rem-calc(20);
            bottom: rem-calc(40);
        }
    }
    &__underline{
        padding-bottom: .35rem;
        background-position: bottom;
        background-size: 100% 11%;
        background-repeat: no-repeat;
        background-image: url(/images/Underline-white.png);
        &_violet{
            color: #8B57A3;
            background-image: url(/images/Underline-1.png);
        }
    }
    &_violet{
        background: linear-gradient(90deg, #5F48B0 3.24%, #6048B0 4.96%, #7F53A6 63.89%, #8B57A3 96.77%);
        border-radius: rem-calc(60);
        color: #fff;
        &-image{
            background-image: url("/images/card-slider-bg.png");
            background-position-x: 35%;
            background-size: 108% 100%;
        }
    }
    &__col{
        width: 32%;
        display: flex;
        flex-direction: column;
    }
    &__item{
        border-radius: 30px;
        border: 1px solid #FFC01E;
        padding: rem-calc(50) rem-calc(54);
        margin-bottom: rem-calc(20);
        &:last-child{
            margin-bottom: 0;
        }
        &_large{
            width: 33%;
            border:none;
        }
        &_life{
            border:none;
            padding:0;
        }
    }
    &__life{
        border-radius: rem-calc(30);
    }
    &__item_slider{
        border:none;
        padding-left: 2rem;
        padding-right: 11rem;
        &:nth-child(3n){
        }
    }
    &__img{
        position: relative;
        display: inline-block;
    }
    &__photo{
        border-radius: 50%;
        z-index: 2;
        position: relative;

        &_team{
            transform: scale(1.15);
            padding-bottom: rem-calc(10);
        }
    }
    &__circle{
        position: absolute;
        right: rem-calc(-10);
        top: rem-calc(-10);
        z-index: 1;
        &_large{
            top: -1.625rem;
        }
        &_team{
            right: -1.625rem;
        }
    }
    &__name,&__age{
        font-weight: 800;
        font-size: rem-calc(30);
        line-height: 114.4%;
    }
    &__name{
        &:after{
            content: ",";
        }
        &_slider,&_large{
            &:after{
                content: "";
            }
        }
    }
    &__age,&__prof{
        margin-bottom: rem-calc(35);
    }
    &__prof{
        font-weight: 800;
        font-size: rem-calc(20);
        line-height: 114.4%;
        margin-top: rem-calc(10);
    }
    &__button{
        text-align: center;
    }

    @include breakpoint(medium down){
        &__col{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            &:last-child{
                margin-bottom: rem-calc(20);
            }
        }
        &_violet{
            &-image{
                background-size: 126% 100%;
            }
        }
        &__item{
            &_slider {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }

    }
    @include breakpoint(small only){
        &__title{
            font-size: 1.9rem;
        }
        &_violet{
            &-image{
                background-size: cover;
            }
        }
        &__item{
            &_slider {
                padding-right: .5rem;
                padding-left: .5rem;
                padding-top: 0.7rem;
                margin-right: 1.2rem;
            }
            &_large{
                width: 100%;
            }
        }
        &_violet{
            & .card__mainheader{
                margin-left: 2rem;
                margin-top: .5rem;
                padding-right: 0.4rem;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

    }
}
