/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

// Slider
.counselors__next, .counselors__prev{
    position: absolute;
    top:30%;
    right: 0;

    transition: opacity .2s linear;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }
    &_place{
        top:50%;
    }
}
.counselors__prev{
    left:0;
}
.slick-dots{
    & li button{
        width: rem-calc(18);
        height: rem-calc(18);
        background-color: #fff;
        border: 2px solid #8B57A3;
    }
    & li.slick-active button{
        background-color: #8B57A3;
    }
}
.card_violet{
    .slick-dots{
        & li button{
            width: rem-calc(18);
            height: rem-calc(18);
            background-color: transparent;
            border: 2px solid #fff;
        }
        & li.slick-active button{
            background-color: #fff;
        }
    }
}

.slick-active{
    & .card__mainwrapper div div{
        .card__photo{
            &_lines{
                width: auto;
            }
        }
    }
    & .card__mainwrapper{
        position: static;
    }

}

.card__mainwrapper{
        position: absolute;
        top: calc(50% - 42px);
    }

.card__header{
    margin-bottom:rem-calc(10);
}

.card__photo{
    &_lines{
        transition: width .2s linear;
        & + .card__circle{
            transform: translate(-108%, -10%) scale(0.7);
        }
    }
}
#life .slick-list{
    margin: 0 10% 0 0;
}
#events .slick-list{
    padding: 0 25% 0 0;

    & .slick-track{
        & .slick-active .card__mainwrapper .grid-x .cell {
            & .card__img .card__circle{
                transform: translateX(0%);
            }
            & .card__header, .card__content{
                opacity: 1;
            }
        }
        & .card__item:not(.slick-active) .card__mainwrapper .grid-x .cell{
            &.card__img-container{
                width:auto;
                &{
                    .card__img .card__photo{
                        width: 50%;
                    }
                }
            }

            &{
                & .card__header,& .card__content{
                    opacity: 0;
                }
            }
        }


    }
}

@include breakpoint(large down){
    #life .slick-list{
        margin: auto;
    }
    #events .slick-list{
        padding: 0 30% 0 0;
    }
}
@include breakpoint(medium down){
    .card__slider .slick-active .card__mainwrapper .grid-x .cell {
        & .card__content{
            padding-bottom: 2rem;
        }
    }
    #events .slick-list{
        padding: 0 0 0 0;
    }
    #events .counselors__next_place,#events .counselors__prev_place {
        top:auto;
        bottom: rem-calc(-30);
    }
    .counselors__next_place,.counselors__prev_place {
        top:50%;
    }
}
@include breakpoint(small only){
    .counselors__next_place,.counselors__prev_place {
        top:30%;
    }
    .counselors__next.counselors__next_large{
        bottom:0;
        top: auto;
    }
    .arrow-next, .arrow-prev{
        width: rem-calc(70);
    }
        #events .counselors__next_place,#events .counselors__prev_place {
        bottom: rem-calc(-10);
    }
}
